
.par{
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 20px;
}
.par1{
    font-size: large;
    font-style: italic;
    margin-top: 20px;
}
.thots{
    font-size: large;
    margin-bottom: 20px;
}
.audio{
    position: relative;
    top: 30px;
}